

.arrangementer_div {
   
    font-weight: bold;
    font-size: 20px; 
    font-family: sans-serif;
    margin: auto; 
    background-color:beige;
    display: inline-block; 
    width: 100%;
    
    

}



.column {
    float: left;
    padding: 10px;
    
}

.left {
  width: 50%;
}

.right {
  width: 45%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


.button{
    background-color:#FFFF;
    border: none;
    border-radius: 14px;
    padding-left: 3%;
    padding-right: 3%;
    position:relative;
    left: 85%;
    text-decoration: none;
    color: #000000;
    background: #e0da69;
    

}
  
.button:hover{
   background: #ccaf64;
  text-decoration: none; 
  
}