.arrangementer_div {

    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
    margin: auto; 
    background-color:beige;
    width: 100%;
    padding: 5em 20em 5em 20em;
    bottom: 10em;
    display: inline-block; 

}



.column {
    float: left;
    padding: 1%;
    
}

.left {
  width: 50%;
}

.right {
  width: 45%;
}




/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}



.button_arrangementer{
    background-color:#FFFF;
    border: none;
    border-radius: 14px;
    padding-left: 3%;
    padding-right: 3%;
    position:relative;
    left: 85%;
    width: 5%;
    text-decoration: none;
    color: #000000;
    background: #e0da69;


}

.button_arrangementer:hover {
    background: #ccaf64;
    text-decoration: none;

}
