.kontakt {
    display: inline-block;
    background-color: beige;
    width: 82%;
    margin-left: 9%;
    margin-right: 9%;
    float: left;
}

.left-contact{
    width: 49.6%;
    float: left;
}

.right-contact{
    width: 49.6%;
    float: right;
    padding-bottom: 5%;
}

.sportscafekort{
    padding-left: 5%;
}

#fortælling{
    font-family: sans-serif;
    padding-bottom: 20%;
}

#fortælling h3 {
    margin-left: 10%;
}

#fortælling p {
    margin-left: 10%
}

#contactformular{
}

#contact{
    width: 80%;
    height: 80%;
    margin: auto;
}

#oplysninger {
    width: 50%;
    font-family: sans-serif;
}

#oplysninger h3 {
    margin-left: 5%;
}

#oplysninger p {
    margin-left: 5%;
    line-height: 150%;
}

#åbningstider{
    width: 50%;
    font-family: sans-serif;
}

#åbningstider h3 {
    margin-left: 5%;
}

#åbningstider p {
    margin-left: 5%;
    line-height: 150%;
}